<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LiteDB" version="5.0.10" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="71.0.3578.137" targetFramework="net472" />
</packages>